<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li><a href="/dynamodb">DynamoDB</a></li>
    <li>{{ table_name }}</li>
  </ol>
  <div class="panel-heading clearfix"></div>

  {{#items.data}}

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            {{#items.headers}}
              <th>{{ . }}</th>
            {{/items.headers}}
          </thead>
          <tbody>
          {{#items.data}}
            <tr>
              {{#.}}
                {{{ . }}}
              {{/.}}
            </tr>
          {{/items.data}}
          </tbody>
        </table>
       </div>
    </div>

    <ul class="pager">
      <li class="previous">
        <a href="/dynamodb/{{ table_name }}/view{{ pagination.previous }}">Previous</a>
      </li>
      <li class="next">
        <a href="/dynamodb/{{ table_name }}/view{{ pagination.next }}">Next</a>
      </li>
    </ul>

  {{/items.data}}
  {{^items.data}}
    <div class="panel-body">
      <p>No records available</p>
    </div>
  {{/items.data}}
</div>
