<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li>S3</li>
  </ol>
  <div class="panel-heading clearfix">
    <a class="btn btn-primary pull-right" href="/s3/create">Create</a>
  </div>

  <table class="table">
    <thead>
      <th>Name</th>
      <th width="70%">Url</th>
      <!-- <th colspan="2" width="7%"></th> -->
    </thead>
    <tbody>
      {{# buckets}}
	  	<tr>
			<td><a href="/s3/{{ name }}">{{ name }}</a></td>
			<td>{{ url }}</td>
			<!-- <td> -->
			<!-- 	<a href="/s3/{{ name }}/clear" title="Clear messages"><span class="glyphicon glyphicon-trash"></span></a> -->
			<!-- </td> -->
			<!-- <td> -->
			<!-- 	<a href="/s3/{{ name }}/delete" title="Delete"><span class="glyphicon glyphicon-remove-circle"></span></a> -->
			<!-- </td> -->
		</tr>
      {{/buckets}}
    </tbody>
  </table>

</div>

