<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li><a href="/s3">S3</a></li>
    <li>Create</li>
  </ol>
  <div class="panel-heading clearfix"></div>

  <div class="panel-body">
  <form role="form" action="/s3/create" method="post">
    <div class="form-group">
      <label for="bucketName">Name</label>
      <input type="text" class="form-control" id="bucketName" name="bucketName" placeholder="Enter name" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
