<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li><a href="/s3">S3</a></li>
    {{# navigation}}
      <li><a href="{{ nav_path }}">{{ nav_name }}</a></li>
    {{/navigation}}
  </ol>
  <div class="panel-heading clearfix">
    <a class="btn btn-primary pull-right" href="/s3/{{ s3_path }}/create">Add</a>
  </div>

  <table class="table">
    <thead>
      <th>Name</th>
      <th width="70%">Modfied</th>
      <th>Content type</th>
      <th>Size</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      {{# objects}}
	  	<tr>
			<td><a href="/s3/{{ name }}">{{ name }}</a></td>
			<td>{{ last_modified }}</td>
      <td>{{ content_length }}</td>
      <td>{{ content_type }}</td>
			<td>
				<a href="/s3/{{ name }}/clear" title="Clear messages"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
			<td>
				<a href="/s3/{{ name }}/delete" title="Delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
			</td>
		</tr>
      {{/objects}}
    </tbody>
  </table>

</div>

