<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li><a href="/sqs">SQS</a></li>
    <li>{{ content }}</li>
  </ol>

  <div class="panel-heading clearfix">
    <div class="btn-group pull-right">
      <a class="btn btn-warning" href="/sqs/{{ content }}/clear" role="button">Clear <span class="glyphicon glyphicon-trash"></span></a>
      <a class="btn btn-danger" href="/sqs/{{ content }}/delete" role="button">Delete <span class="glyphicon glyphicon-remove-circle"></span></a>
    </div>
  </div>
  <div class="panel-body">
  <form role="form" action="/sqs/{{ content }}" method="post">
    <div class="form-group">
      <label for="sqsMessage">Message body</label>
      <textarea class="form-control" id="sqsMessage" name="sqsMessage" placeholder="Message" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>    
</div>
